{% extends 'core/base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block title_h1 %}
        {{ tittle }}
{% endblock title_h1 %}
        

{% block content %}
        <div style="width: 75%; margin: auto" class="py-2 my-5 align-items-center bg-secondary card" >
            
                <form action="{% url 'perfil' %}" method="post", class="align-items-center p-5" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                        {{ form|crispy }}
                        <p>{{ msj }}</p>
                        <button type="submit", class="btn btn-success">{{ boton_name }}</button>
                    
                </form>
            
        </div>
{% endblock content %}
    